* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #faf3f3;
}

.navbar {
  background-color: whitesmoke !important;
}

.navbar-brand {
  margin: 10px 20px;
  margin-left: 4%;
}
.navbar-nav {
  width: 35%;
  justify-content: space-between;
  margin-right: 5%;
}

.navbar-brand {
  background-color: whitesmoke;
}

.container-fluid-body {
  height: 90vh;
  margin: 1rem 3rem;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
}
h1,
h4 {
  text-align: center;
  margin-top: 1rem;
}
#remote-container video {
  max-height: 85vh;
  max-width: 78vw;
  position: relative !important;
}
#me {
  width: 15%;
  height: 25vh;
}
#remote-container {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  width: 100%;
  margin: 1rem;
}
button {
  margin: 1rem;
  border: none;
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
  #me {
    position: relative;
    top: 32rem;
    width: 35%;
    height: 20vh;
    z-index: 100;
    display: inline;
  }

  #remote-container {
    margin: 0;
    width: 100vw;
  }
}
